  h1 {
    margin-bottom: 30px;
  }

  .levels {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    max-width: 3000px; /* wider to balance space */
    position: relative;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 10%;
    overflow:hidden;
    margin-left: auto;
    margin-right: auto;
  }

  .level {
    background: rgb(252,238,231);
    padding: 50px 50px 50px 300px; /* more padding left for pictures */
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.50);
    text-align: left;
    transition: 0.3s;
    border-left: 100px solid #ccc;
    position: relative;
    border: solid rgb(245,124,081) 8px;
  }

  .level:hover {
    transform: scale(1.005);
  }

  .level h2 {
    margin: 0 0 10px 0;
    font-size: medium;
  }

  .level p {
    font-size: medium;
    color: rgb(69,0,0);
  }

  .levelnoh {
    background: rgb(252,238,231);
    padding: 25px 25px 25px 25px; /* more padding left for pictures */
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.50);
    text-align: left;
    transition: 0.3s;
    border-left: 8px solid #ccc;
    position: relative;
    border: solid rgb(245,124,081) 8px;
  }

  .levelnoh  h2 {
    margin: 0 0 10px 0;
    font-size: large;
  }

  .levelnoh p {
    font-size: large;
    color: rgb(69,0,0);
  }

  .levelA{
    border-left-color: #4caf50;
    color: rgb(69,0,0);
  }

  .levelTOS{
    color: rgb(69,0,0);
  }

  .levelNa{
    border-left-color: #f44336;
    color: rgb(69,0,0);
  }

  .complete-btn {
    margin-top: 15px;
    background: linear-gradient(rgb(241,163,79), rgb(245,124,081));
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: medium;
    transition:  .3s;
  }

  .complete-btn:hover {
    background: rgb(69,0,0);
    
  }

  .complete-btn2 {
    background: linear-gradient(rgb(241,163,79), rgb(245,124,081));
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: medium;
    transition:  .3s;
    justify-content: center;
  }

  .complete-btn2:hover {
    background: rgb(69,0,0);
    
  }

  /* Placeholder for the future pictures/icons */
  .icon {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
  }

  .sectionright{
    padding:15px;
    background:rgb(252,238,231);
    color:rgb(69,0,0);
    font-size: medium;
    margin-right: 15%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    float:right;
    box-shadow: 0px 3px 6px 0px rgba(69, 0, 0, 0.50);
    border-radius: 10px;
    border: solid rgb(245,124,081) 8px;
  }

  .sectiontop{
    margin-top: 5%;
    margin-bottom: 5%;
    overflow:hidden;
    background:rgb(252,238,231);
    border: solid rgb(245,124,081) 8px;
    box-shadow: 0px 3px 6px 0px rgba(69, 0, 0, 0.50);
    border-radius: 10px;
    color:rgb(69,0,0);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .commselectdesc {
    padding:15px;
    color:rgb(69,0,0);
    font-size: x-large;
    margin-left: 15%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
  }

  .image-gallerycomms {
  margin-top: 2rem;
  text-align: center;
  padding: 30px;
}

  .image-gallerycomms > div {
  columns: 2;
  gap: 1.25rem;
  padding-top: 1.25rem;
}

  .image-gallerycomms img {
  display: block;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 1.25rem;
}

@media (max-width:1000rem) {
  .image-gallerycomms > div {
      columns: 2;
  }
}

@media (max-width:32rem) {
  .image-gallerycomms > div {
      columns: 1;
  }
}


