.image-gallery-container{
  margin: 15px;
  background:rgb(252,238,231);
  color:rgb(69,0,0);
  font-size: medium;
  margin:5%;
  border-radius: 15px;
  border: solid rgb(245,124,081) 8px;
  box-shadow: 0px 3px 6px 0px rgba(69, 0, 0, 0.50);
  
}


.image-gallery {
  margin-top: 2rem;
  text-align: center;
  padding: 30px;
}

.image-gallery > div {
  columns: 3;
  gap: 1.25rem;
  padding-top: 1.25rem;
}
.image-gallery img {
  display: block;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 1.25rem;
}

@media (max-width:48rem) {
  .image-gallery > div {
      columns: 2;
  }
}

@media (max-width:32rem) {
  .image-gallery > div {
      columns: 1;
  }
}

/* Clickables */

.button-growp {
  transition: all 0.2s ease-in-out;
  padding-bottom: 10px;
}

.button-growp:hover {
  transform: scale(1.03);
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1;
  padding-top: 100px;
  padding-bottom: 100px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

.modal img{
  margin: auto;
  display: block;
  width: 80%;
  max-width: 900px;
}

.modal span{
  position:absolute;
  top:0%; right: 10%;
  font-size: 50px;
  color: rgb(252,238,231);
  cursor: pointer;
  z-index: 2;
}

.caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: rgb(252,238,231);
  padding: 10px 0;
  height: 150px;
}

.modal img, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: rgb(252,238,231);
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}