
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  background-color: rgb(252,238,231);
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  color:rgb(69,0,0);
  border-radius: 15px;
}
th, td {
  border: 1px solid rgb(69,0,0);
  padding: 10px;
  text-align: center;
}
th {
  background-color: rgb(245,124,081);
  color:rgb(252,238,231);
}
tr:nth-child(even) {
  background-color: rgb(252,238,231);
}
.section {
  margin-top: 40px;
}