body{
  font: 15px/1.5 Arial bold, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:rgb(241,163,79);
}

.container{
  width:85%;
  margin:auto;
  overflow:hidden;
  align-content: space-between;
  text-align: center;
}

.vidcontainer{
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
  padding: 30px;
  margin-top:50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom:100px;
  box-shadow: 0px 3px 6px 0px rgba(69, 0, 0, 0.50);
  border-radius: 15px;
  border: solid rgb(245,124,081) 8px;
}

.button_container{
  width:35%;
  margin:auto;
  overflow:hidden;
  align-content: space-between;
  text-align: center;
}

ul{
  margin:0;
  padding:0;
}

.button_1{
  height:38px;
  background:rgb(245,124,081);
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:rgb(252,238,231);
}

.dark{
  padding:15px;
  background:rgb(252,238,231);
  color:rgb(69,0,0);
  font-size: medium;
  margin-top:10px;
  margin-bottom:10px;
  box-shadow: 0px 3px 6px 0px rgba(69, 0, 0, 0.50);
  border-radius: 15px;
  border: solid rgb(245,124,081) 8px;
}

.dark2{
  padding:15px;
  background:rgb(252,238,231);
  color:rgb(69,0,0);
  font-size: medium;
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
  margin-top:10px;
  margin-bottom:10px;
  box-shadow: 0px 3px 6px 0px rgba(69, 0, 0, 0.50);
  border-radius: 15px;
  border: solid rgb(245,124,081) 8px;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.koficenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.koficenter img{
  width: 300px;
}

.btncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.btncenter img{
  width: 50px;
}

.button-grow {
  transition: all 0.2s ease-in-out;
  padding-bottom: 10px;
}

.button-grow:hover {
  transform: scale(1.2);
}


#showcase{
  min-height:200px;
  background:url('../img/showcase.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  text-align:center;
  color:rgb(252,238,231);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
}

#showcase2{
  min-height:75px;
  min-width:75px;
  background:url('../img/creator.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  text-align:center;
  color:rgb(252,238,231);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
}

#showcase3{
  margin-top: 5%;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
  min-height:600px;
  min-width:600px;
  background:url('../vid/Intro.gif') no-repeat;
  background-position: center;
  background-size: cover;
  text-align:center;
  color:rgb(252,238,231);
  box-shadow: 0px 3px 6px 0px rgba(69, 0, 0, 0.25);
}

#showcase h1{
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
}

#showcase p{
  font-size: medium;
}

#boxes{
  margin-top:20px;
}


#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes .box img{
  width:90px;
}

#boxes{
  margin-top:20px;
}

#boxes2 .box2{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes2 .box2 img{
  width:150px;
}

#boxes3 .box3{
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes3 .box3 img{
  width: 150px;
}

aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
}

article#main-col{
  width:65%;
}

ul#services li{
  list-style: none;
  padding:20px;
  border: rgb(252,238,231) solid 1px;
  margin-bottom:5px;
  background:rgb(252,238,231);
}

footer{
  padding:10px;
  margin-top:20px;
  color:rgb(252,238,231);
  background-color:rgb(69,0,0);
  text-align: center;
}

@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    text-align:center;
    width:100%;
    font-size: medium;
  }

  header{
    padding-bottom:10px;
  }

  #showcase h1{
    margin-top:40px;
  }

}
